<?xml version="1.0" encoding="UTF-8"?>

<widget id="A6067444243573" version="0.0.1"> 
  <name>直播demo</name>  
  <description/>  
  <author email="wmj19920217@163.com" href="http://www.apicloud.com">imeilingo</author>  
  <content src="index.html"/>  
  <preference name="pageBounce" value="false"/>  
  <preference name="appBackground" value="rgba(0,0,0,0.0)"/>  
  <preference name="windowBackground" value="rgba(0,0,0,0.0)"/>  
  <preference name="frameBackgroundColor" value="rgba(0,0,0,0.0)"/>  
  <preference name="hScrollBarEnabled" value="true"/>  
  <preference name="vScrollBarEnabled" value="true"/>  
  <preference name="autoLaunch" value="true"/>  
  <preference name="fullScreen" value="false"/>  
  <preference name="autoUpdate" value="true"/>  
  <preference name="smartUpdate" value="false"/>  
  <preference name="debug" value="true"/>  
  <preference name="statusBarAppearance" value="true"/>  
  <permission name="readPhoneState"/>  
  <permission name=""/>  
  <permission name="record"/>  
  <permission name="location"/>  
  <permission name="fileSystem"/>  
  <permission name="internet"/>  
  <permission name="bootCompleted"/>  
  <permission name="hardware"/>  
  <access origin="*"/>  
  <feature name="gotyeLiveCore"> 
    <param name="appKey" value="5ada3f0616c7430f98eac1e132e26ca9"/>  
    <param name="accessSecret" value="2cda7dd6ac984a258a10a86c71b35e0e"/> 
  </feature> 
</widget>
